
body{
	font-family: 'Arvo',Georgia,serif;
	padding-left: 10px;
	padding-right: 10px;
	text-align: justify;
	background-color: #f3f1f1;
}
h1{
	font-family: 	'Yanone Kaffeesatz',sans-serif;
	font-size: 250%;	
	line-height: 0.125;
	color: #363636;
		font-variant: small-caps;
	text-align: center;
}
h2{
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-size:180%;
	display: inline;
	color: #E5C58F;
	//text-shadow: 1px 1px #939393;
}
h3{
	font-family: 'Yanone Kaffeesatz',sans-serif;
	font-size:250%;
	display: inline;
	color: #E5C58F;
	text-shadow: 1px 1px #939393;
}
h4{
	font-family: 'Yanone Kaffeesatz',sans-serif;
	font-size:250%;
	display: inline;
	color: #98B7C6;
	text-shadow: 1px 1px #939393;
}
h5{
	font-family: 'Arvo',Georgia, serif;
	font-size:150%;
	display: inline;
	color: #E5C58F;
}
.wraparound{
	display:inline;
	border:2px solid #D6D6D6;
	padding: 1px 1 px;
	float:right;
}

ul { 
    display: block;
    list-style-type: square;
    margin-top: 1em ;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    padding-left: 40px;
} 
li
 {
 background-image: url(arrow.gif);
 background-repeat: no-repeat;
 background-position: 100% .4em;
	padding-right: .6em;
margin: .5em 0;
 }

.frontpage{
	border: 1px solid #D6D6D6;
}
.title{
	font-family: 'Arimo';
	font-size : 700%;
	color:#BFEAFF;
	text-shadow: 3px 2px #8FB1C1;
	//background-image: "img/Banner.jpg";
}
a{
	color: #98CEF2;
	text-decoration: none;
	text-shadow: 1px 1px #7d9fb5;
}
#list a{
color:#63AECD
}
vCenter{
	vertical-align: center;
}

.dropdown {
    position: relative;
    display: inline-block;
}

sym{
	font-family: webdings;
	color: #777777;
}
.floaty{
	float:right;
	background-position: fixed;
}
