
/* Slideshow CSS */
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  height:850px;
  position: relative;
  margin: auto;
  background-color: #EFEFEF;
}

.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 200px;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

.prev{
  left: 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 16px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor:pointer;
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: .25s;
  animation-name: fade;
  animation-duration: .25s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}


/* Style the buttons that are used to open and close the accordion panel */
button.accordion {
    background-color: #DFDFDF;
    color: #444;
    cursor: pointer;
    margin-top: 10px;
    width: 100%;
    text-align: center;
    border: none;
    outline: none;
    transition: 0.4s;
    font-size: 20px;
}

body{
    margin:0;
    background:  #fff;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
}

.floatLeft{
    border-style: solid;
    border-radius: 100%;
    border-color: #cccccc;
    border: 1;
    float:left;
    margin-right: 30px;
}
.floatRight{
    float:right;
}

.restitle
{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    font-variant: small-caps;
    font-weight: 600;
    color: #000
}

.title{
   letter-spacing: 10px;
   margin-top:60px;
   margin-bottom: 0px;
    font-size: 40px;
}

.Links
{
    text-align: right;
}

p{
    font-size: 16px;
    text-align: left;
    margin-left: 10px;
    margin-top: 0px;
    margin-bottom: 5px;
}

h1{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 26px;
}
h2{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    color: #888
}
h3{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 40px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
button.accordion.active, button.accordion:hover {
    background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */
div.panel {
    padding: 0 18px;
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: white;
    display: none;
}

/* The "show" class is added to the accordion panel when the user clicks on one of the buttons. This will show the panel content */
div.panel.show {
    display: block;
}

td{
    padding: 15px;
}

#content{
    text-align: center;
    width:700;
    margin:0 auto;
}

#about{
    text-align: center;
    width:900;
    height:220;
    margin:0 auto;
}

#about>p{
  vertical-align: super;
}

#resume{
    text-align: left;
    width:900;
    margin:0 auto;
}


#bio{
    text-align: center;
    font-size: 16px;
    width:700;
    margin:0 auto;
    margin-top: 100px;
    margin-bottom: 100px;
}
#bio>p{
    font-size: 18px;
}

a{
    text-decoration: none;
}

a:link{
    color:#0074D9;

    letter-spacing: 1px;
}

a:hover{
    color:#001f3f;
    letter-spacing: 1.4px;
}
a:visited{
    color:#B10DC9;
}


#navigation{
    background-color: #DDDDDD;
    text-align: center;
    text-decoration: none;
    font-size: 24px;
    margin-top: 0;
    padding: 20px;
}
#navigation>a{
    text-decoration: none;
    word-spacing: 20px;

}

#navigation>a:link{
    color:#0074D9;

    letter-spacing: 2px;
}

#navigation>a:hover{
    color:#001f3f;
    letter-spacing: 5px;
}

.TextWrap{
    float:right;
    margin:10px;
    max-width: 50%;
}


#header{
    background-color: #444;
    margin-bottom: 0px;
    padding: 35px;
    color: #ffffff;
    font-size: 80px;
    text-align: center;
}

#header>p{
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 22px;
}

#header>a{
  padding-top: 0px;
}

#footer{
    background-color: #444;
    height: 120px;
    margin-top: 50px;
}

#footer > p
{
    color: #ffffff;
    text-align: right;
    padding-top: 80px;
    padding-right: 10px;
}
