@charset "utf-8";
/* CSS Document */
body{
	background-image:url(img/zero-bg.gif);
	background-position:top;
	background-origin:border-box;
	background-attachment:inherit;
}
h1{
	text-align: center;
}

.videoWrapper{
	text-align: center;
}

.videoWrapper iframe{
	margin-top:275px;
	
	display:block;
	margin-left:auto;
	margin-right:auto;
}
